@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:700');
body {

}
a {

}
/*BLOCK 1: STARTER*/
header {
}
/*Logo styling*/
.boldColmar{
   display: inline;
   margin: auto 0;
   font-size: 1.2rem;
   font-family: "Roboto",sans-serif;
   font-weight: 700
 }
 .lightAcademy{
   color:#9b9b9b;
   font-family: "Roboto",sans-serif;
   font-weight: light;
 }
 /* Nav Menu & Icons*/
 nav {

 }

 ul {

 }
 ul li{

 }
/*-- BLOCK 2: Body Container & Banner 1*/

/*Main Body Container*/
.sitecontent-container {

}


/*Banner 1 Content*/
.banner1content {

}
.introText {

}
.banner1button {

}
.banner1image img{

}

/*BLOCK 3: NEWS BOX*/
.newsbox {

}

/*headline*/
.headline {

}

.newsQuote-img img{

}
q{

}
.newsQuote {

}
/*sidenews*/
.sidenews {

}

.sidenews-box{

}
.sidenews-img img{

}
.sidenews-content {

}
/*BLOCK 4: Courses/Learning*/
.course-box {

}

.course-header{

}
/*Course Options Box*/
.course-optionsbox{

}
.course-optinos{

}

.courseImg img{

}
/* BLOCK 5: Thesis Section */
.thesis {

}
.thesis-box {

}
.video {

}

.video-box{

}

video{

}
/* thesis side showcase */
.thesis-display {

}
.Tshowcase {

}
.Tshowcase-txt{

}
/*BLOCK 6: Finisher*/
footer{

}
.footerbox{

}
.footerlinks{

}
/*Display Variations*/

/*Mobile*/
@media only screen and (max-width:500px) {

   }
.course-options {
    flex-direction: column;
  }


/* To be hidden*/
.course-options .courseImg img {
  display:none;
}
   .course-options p {
     display:none;
   }
   .cours-options {
   height: initial;
   width: 100%;
 }
