body {
margin: 0;
font-size: 16px;
}
/*Typography*/
 h1{
   font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 1.4;
 }
 h2{
 font-size: 2rem;
 font-family: "Open Sans", sans-serif;
 line-height: 1.4;
 }
 h3{
   font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
 }
 a, span, p {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
}
/*Header*/
header {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  height: 4rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 1.5rem;
}
header img {
  height: 3rem;
  width: auto;
}
header a {
  padding: .5rem 0.5rem;
  margin: .5rem 0;
  text-decoration: none;
  color: black;
}
/*Desktop header*/
header.mobile {
  display: none;
}
/*Mobile*/
@media only screen and (max-width: 650px) {
  header.desktop-version{
    display: none;
  }
  header.mobile {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 nav {
   width: 100%;
 }
 header ul {
   padding-right: unset;
   justify-content: space-around;
 }
 header li {
   display: flex;
   justify-content: center;
 }
 header img {
   height: 2rem;
   width: auto;
 }
 header a {
   margin: auto;
 }
}
@media  only screen and (max-width: 1024px) {
  a, span, p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.4;
  }
  h2 {
    font-size: 1.7rem;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
strong {
  font-weight: bold;
}
/*Frames*/
section .main{
  position: relative;
  top: 4rem;
}
.main-box{
  display: flex;
  justify-content: center;
}
.course-box h2{
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}
.left {
  width: 55%;
   padding: 2rem 1.5rem;
}
.left .img-box {
  padding-bottom: 2rem;
}
.left h2 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid black;
}
.left p{
  padding-bottom: 2rem;
}
.right {
  width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 1rem;
}
/*Media*/
.img-box {
  display: flex;
    justify-content: center;
    align-items: center;
    img, video {
      max-width: 100%;
      height: auto;
    }
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1.5rem;
    }
/* Intro banner*/
#startnow .right {
  justify-content: center;
  align-items: flex-start;
}
#startnow .right h3{
  margin: 2rem 0;
}
.button {
 width: 70%
}
#startnow .startbutton{
  display: block;
  text-align: center;
  padding: .5rem 0;
  color: white;
  font-weight: bold;
  background-color: #f93e25;
  border-radius: 5px;
}
#startnow .startbutton:hover {
  background-color: #cc1b04;
  font-weight: normal;
}
@media only screen and (max-width: 650px){
#startnow {
  flex-direction: column;
}
.left{
  width: 100%;
   padding: 0;
}
.left .img-box {
  padding: 1rem;
}
.right {
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
}
#startnow .right h1 {
  margin: 0 1rem;
}
#startnow .right h3{
  margin: 2rem 1rem 1.5rem 1rem;
}
#startnow .button{
  margin: 0 1rem;
    max-width: 100%;
}
.buttonbanner {
  width=100%;
}
}

/*sidenews*/
.sidenews-right .img-box{
width: 35%;
}
.sidenews-right .content{
  width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    border-bottom: 1px solid #64738D;
}
.sidenews-right .content p{
margin: 1rem 0;
}
#headline .right .mobile-nav{
    display: none;
}
@media only screen and (max-width: 1024px){
  .sidenews-box .content p {
    margin: .5rem 0;
}
.sidenews-box .content {
  width= 55%;
}
.sidenews-box .img-box{
  width= 45%;
}
.right {
  width= 43%
}
.left {
  width: 63%;
 }
}
@media only screen and (max-width: 650px) {
  #headline .left {
    display: none;
  }
#headline .right.desktop-version{
  display:none;
}
#headline .right.mobile-nav {
  display: flex;
  margin: 1rem 1rem;
}
#headline .mobile-nav .main-box{
  flex-direction: column;
}
#headline .mobile-nav .content{
    margin: 1rem 1rem;
}
#headline .mobile-nav .content h3{
   font-weight: bold;
}
/*thesis block*/
#thesis .right{
  display: none;
}
#thesis .left{
  display: none;
}
#thesis .content {
    display: none;
}
#thesis .left .img-box {
   padding: 0 1rem 1.5rem 1rem;
}
